@use 'grid-templates';
@use '../tools/variables';

// **************************************************************************************************************

// Universal Columns Variable

$grid-columns: 1rem minmax(12rem, max-content) repeat(12, 1fr) 1rem;

// Index Page Layout w/ Hero

.grid-container-index
{
	margin-top: 10px;

	display: grid;

	grid-template-columns: $grid-columns;

	grid-template-rows: 100px calc(100vh - 140px) 1rem minmax(4rem, max-content) auto 200px;

	gap: 8px;

	grid-template-areas: grid-templates.$hero-index;
}

@media only screen and (max-width: variables.$large-breakpoint)
{
	.grid-container-index
	{
		grid-template-areas: grid-templates.$mobile-hero-index;
	}
}

@media only screen and (max-width: variables.$small-breakpoint)
{
	.grid-container-index
	{
		grid-template-rows: 150px calc(100vh - 170px) 1rem minmax(4rem, max-content) auto 200px;
	}
}

// **************************************************************************************************************
// Page Layout w/ Sidebar

.grid-container-sidebar
{
	margin-top: 10px;

	display: grid;

	grid-template-columns: $grid-columns;

	grid-template-rows: 100px minmax(4rem, max-content) auto 200px;
	
	

	gap: 8px;

	grid-template-areas: grid-templates.$sidebar;
}

@media only screen and (max-width: variables.$large-breakpoint)
{
	.grid-container-sidebar
	{
		grid-template-areas: grid-templates.$mobile-sidebar;
	}
}

@media only screen and (max-width: variables.$small-breakpoint)
{
	.grid-container-sidebar
	{
		grid-template-rows: 150px minmax(4rem, max-content) auto 200px;
	}
}

// **************************************************************************************************************
// Post Layout w/ No Sidebar

.grid-container-post
{
	margin-top: 10px;

	display: grid;

	grid-template-columns: $grid-columns;

	grid-template-rows: 100px auto 200px;

	gap: 8px;

	grid-template-areas: grid-templates.$post;
}

@media only screen and (max-width: variables.$large-breakpoint)
{
	.grid-container-post
	{
		grid-template-areas: grid-templates.$mobile-post;
	}
}

@media only screen and (max-width: variables.$small-breakpoint)
{
	.grid-container-post
	{
		grid-template-rows: 150px auto 200px;

		grid-template-areas: grid-templates.$e-mobile-post;
	}
}