/*

Table of Contents:

Initial Settings
./components/_initial-settings.scss
	// Font Families
	// Initial Settings
	// Global Variables

Grid Layouts
./components/_grid-layouts.scss
	// Universal Columns Variable
	// Index Page Layout w/ Hero
	// Page Layout w/ Sidebar
	// Post Layout w/ No Sidebar

./components/_grid-templates.scss
	// Index Page Templates w/ Hero
	// Page Templates w/ Sidebar
	// Page Templates w/ No Sidebar

Grid Cells
// Grid General Cells
	// Hero Cell
	// Main Content Cell
	// Side Bar Cell, Left
	// Footer Cell

Specific Page Components
./components/_page-components.scss
	// Blog Previews
	// Major Blog Container
	// Blog Content
	// Comments
	// Pagination

FlexBox Classes
./components/_page-components.scss
	// Mindless FlexBox Classes
		// display classes
		// organize classes

Variables(Colors, Breakpoints, etc)
./src/_variables.scss

Mixins
./src/_mixins.scss

*/
@use 'components/initial_settings';
@use 'components/grid-layouts';
@use 'components/navbar';
@use 'components/page-components';

@use 'tools/variables';
@use 'tools/mixins';

// ***************************************************
// Grid General Cells:

// Hero Cell
.hero-cell {
  grid-area: hero;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url("") no-repeat center;
  background-size: contain;

  @include mixins.main-border();

  background-color: variables.$second-color;

  padding: 4rem;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: variables.$small-breakpoint) {
  .hero-cell {
    padding: 2rem;
  }
}

// Main Content Cell
.main-content-cell {
  grid-area: content;

  display: flex;
  flex-wrap: wrap;

  padding: 0.5rem;

  min-height: 100vh;

  // background-color: variables.$main-color;

  img {
    @include mixins.main-border();
  }
}

@media only screen and (max-width: variables.$small-breakpoint) {
  .main-content-cell > .column > img {
    width: 80vw;
  }
}

// Side Bar Cell, Left
.sidebar-cell {
  grid-area: lcell;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: variables.$main-color;

  padding: 0.5rem;
  @include mixins.main-border();

  li {
    list-style: none;

    margin: 0.4rem 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    margin: 0.4rem 0;
    padding: 3px;
    border-radius: 0.25rem;
  }

  a:hover {
    background-color: #fff;
    color: black;
  }

  .current-category,
  .current-author a {
    background-color: #fff;
    color: black;
  }
}

@media only screen and (max-width: variables.$large-breakpoint) {
  .sidebar-cell {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}

// Footer Cell
.footer-cell {
  grid-area: footer;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: solid;
  background-color: variables.$main-color;

  i {
    color: white;
  }
}

// End General Grid Cells
// ***************************************************

// ***************************************************
// Mindless FlexBox Classes

// display classes
.flex {
  display: flex;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}
.column {
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (max-width: variables.$small-breakpoint) {
  .bp-col {
    flex-direction: column;
  }
}

.wrap {
  flex-wrap: wrap;
}
// end display classes

// ************************

// organize classes

// justify

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

// align

.alignc-space-between {
  align-content: space-between;
}

.alignc-center {
  align-content: center;
}

.aligni-items-center {
  align-items: center;
}

.align-self-end {
  align-self: flex-end;
}
// end organize classes
// End Mindless FlexBox Classes
// ***************************************************

// ***************************************************
// Mindless Classes

.border {
  @include mixins.main-border();
}

.p0 {
  padding: 0;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}
