@use 'children/mixins';
@use 'children/variables';

html, body {
  background-color: #FFF;
}

body {
  color: #333;
  font-family: sans-serif;
  font-size: .9rem;
  @include mixins.atSmall {
    padding: 20px;
    font-size: 1.1rem;
  }
  @include mixins.atMedium {
    padding: 60px;
    font-size: 1.2rem;
  }
}

a:link, a:visited {
  color: variables.$primaryColor;
}

a:hover {
  color: variables.$secondaryColor;
}